.headerContainer {
  padding: 15px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #333333;
  color: #e6e6e6;
  a {
    color: currentColor;
    text-decoration: none;
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;
  }

  ul li {
    display: inline;
    padding: 0px 10px;
  }
}
